* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fcf5e9;
    --dark-color: #333;
    --container-normal: 1100px;
    --container-wide: 1400px;
    --container-narrow: 900px;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Container */
.container {
    max-width: var(--container-normal);
    margin: 0 auto;
    padding: 0 1.5rem;
}

.container-sm {
    max-width: var(--container-narrow);
}

.container-lg {
    max-width: var(--container-wide);
}

/* Header */
.header {
    margin: 1.5rem auto;
}

.current {
    background: var(--primary-color);
    font-weight: 600;
}

.header .logo {
    width: 130px;
}

.header .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .main-menu {
    display: flex;
    gap: 1rem;
}

.header .main-menu a {
    padding: 0.5rem 1rem;
}

.header .main-menu a:hover {
    background: var(--primary-color);
}

.bg-primary {
    background: var(--primary-color);
}


/* Hero */
.hero {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 3rem;
    line-height: 1.4;
    font-weight: normal;
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px
}

.gallery-item img {
    border-radius: 10px;
}

/* Footer */
.footer {
    border-top: 1px solid #aaa;
    padding: 2rem 1.5rem;
    margin-top:2rem;
}
.footer .footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer img {
    width: 120px;
    height: 35px;
}

.footer h4 {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.footer a {
    margin: 0.2rem;
}



/* Media Queries */
@media (max-width: 768px) {
    .header .header-flex {
        flex-direction: column;
        gap: 1.5rem;
    }

    .hero {
        height: 300px;
    }
    
    .hero h2 {
        font-size: 1.8rem;
    }
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer .footer-flex {
        text-align: center;
    }
}